.box1 {
  background-color: #ffffff;
  height: 200px;
  width: 200px;
  float: left;
}

.bg1 {
  background-color: #faaaaa;
}

.bg2 {
  background-color: #fbbbbb;
}

.bg3 {
  background-color: #fccccc;
}

.bg4 {
  background-color: #fddddd;
}
